# gitignore example syntax
# ignore a single file
# mycode.class

# ignore an entire directory
# /mydebugdir/

# ignore a file type
# *.json

# add an exception (using !) to the preceding rule to track a specific file
# !package.json


.markdownlint.yaml
.node_modules
/node_modules
node_modules
.DS_Store
package-lock.json
./allure-results/
./playwright-report/
/allure-results/
/playwright-report/
.vscode
