# gitignore example syntax
# ignore a single file
# mycode.class

# ignore an entire directory
# /mydebugdir/

# ignore a file type
# *.json

# add an exception (using !) to the preceding rule to track a specific file
# !package.json


.markdownlint.yaml
.node_modules
/node_modules
.DS_Store
package-lock.json
./allure-results/
./playwright-report/
/allure-results/
.vscode
/test_automation.code-workspace
/playwright/.cache/
/Playwright/test_results/test-xray-report.xml
/test-xray-report.xml
./Playwright/test_results/test-xray-report.xml
/playwright/.cache/
/Playwright/test_results/
/Taurus/results
./Taurus/results
/Taurus/ATLAS/results
/Taurus/ATLAS/artifacts